In [2]:
import pandas as pd
import streamlit as st
from sklearn.ensemble import BaggingClassifier

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
st.title("model Deploymemt:bagging classifier")

2023-05-20 12:36:43.091
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\Tannu\anaconda3\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator()

In [31]:
st.sidebar.header('User Input Parameters')
AGE = st.sidebar.number_input('insert the AGE')
SEX = st.sidebar.selectbox('SEX',('1','0'))
INF_ANAM = st.sidebar.selectbox('INF_ANAM',('0','1','2','3'))
STENOK_AN = st.sidebar.selectbox("insert the STENOK_AN",('0','1','2','3','4','5','6'))
FK_STENOK = st.sidebar.selectbox("Insert FK_STENOK",('0','1','2','3','4','7'))
IBS_POST = st.sidebar.selectbox('IBS_POST',('0','1','2',))
IBS_NASL = st.sidebar.selectbox('IBS_NASL',('1','0'))
nr04 = st.sidebar.selectbox("Insert the nr04",('0','1'))
D_AD_KBRIG = st.sidebar.number_input('insert D_AD_KBRIG')
S_AD_KBRIG = st.sidebar.number_input('insert S_AD_KBRIG')
S_AD_ORIT = st.sidebar.number_input('insert S_AD_ORIT')
D_AD_ORIT = st.sidebar.number_input('insert D_AD_ORIT')
K_SH_POST = st.sidebar.selectbox("Insert the K_SH_POST",('0','1'))
ant_im = st.sidebar.selectbox("Insert the ant_im",('0','1','2','3','4'))
lat_im = st.sidebar.selectbox("Insert the lat_im",('0','1','2','3','4'))
ritm_ecg_p_07= st.sidebar.selectbox("Insert the ritm_ecg_p_07",('0','1'))
n_r_ecg_p_04= st.sidebar.selectbox("Insert the n_r_ecg_p_04",('0','1'))
n_p_ecg_p_10= st.sidebar.selectbox("Insert the n_p_ecg_p_10",('0','1'))
n_p_ecg_p_12= st.sidebar.selectbox("Insert the n_p_ecg_p_12",('0','1'))
K_BLOOD= st.sidebar.number_input("Insert the K_BLOOD")
Na_BLOOD= st.sidebar.number_input("Insert the Na_BLOOD")
ALT_BLOOD= st.sidebar.number_input("Insert the ALT_BLOOD")
AST_BLOOD= st.sidebar.number_input("Insert the AST_BLOOD")
KFK_BLOOD= st.sidebar.number_input("Insert the KFK_BLOOD")
L_BLOOD= st.sidebar.number_input("Insert the L_BLOOD")
ROE= st.sidebar.number_input("Insert the ROE")
TIME_B_S= st.sidebar.selectbox("Insert the TIME_B_S",('1','2','3','4','5','6','7','8','9'))
R_AB_1_n= st.sidebar.selectbox("Insert the R_AB_1_n",('0','1','2','3'))
R_AB_3_n= st.sidebar.selectbox("Insert the R_AB_3_n",('0','1','2','3'))
NA_KB= st.sidebar.selectbox("Insert the NA_KB",('0','1'))
NOT_NA_KB= st.sidebar.selectbox("Insert the NOT_NA_KB",('0','1'))
NITR_S= st.sidebar.selectbox("Insert the NITR_S",('0','1'))
NA_R_1_n= st.sidebar.selectbox("Insert the NA_R_1_n",('0','1','2','3','4'))
GEPAR_S_n= st.sidebar.selectbox("Insert the GEPAR_S_n",('0','1'))
RAZRIV= st.sidebar.selectbox("Insert the RAZRIV",('0','1'))
DRESSLER= st.sidebar.selectbox("Insert the DRESSLER",('0','1'))
ZSN= st.sidebar.selectbox("Insert the ZSN",('0','1'))
REC_IM= st.sidebar.selectbox("Insert the REC_IM",('0','1'))
data = {"AGE":AGE,
        'SEX':SEX,
        'INF_ANAM':INF_ANAM,
        'STENOK_AN':STENOK_AN,
        'FK_STENOK':FK_STENOK,
        'IBS_POST':IBS_POST,
        'IBS_NASL':IBS_NASL,
        'nr04':nr04,
        'S_AD_KBRIG':S_AD_KBRIG,
        'D_AD_KBRIG':D_AD_KBRIG,
        'S_AD_ORIT':S_AD_ORIT,
        'D_AD_ORIT':D_AD_ORIT,
        'K_SH_POST':K_SH_POST,
        'ant_im':ant_im,
        'lat_im':lat_im,
        'ritm_ecg_p_07':ritm_ecg_p_07,
        'n_r_ecg_p_04':n_r_ecg_p_04,
        'n_p_ecg_p_10':n_p_ecg_p_10,
        'n_p_ecg_p_12':n_p_ecg_p_12,
        'K_BLOOD':K_BLOOD,
        'Na_BLOOD':Na_BLOOD,
        'ALT_BLOOD':ALT_BLOOD,
        'AST_BLOOD':AST_BLOOD,
        'KFK_BLOOD':KFK_BLOOD,
        'L_BLOOD':L_BLOOD,
        'ROE':ROE,
        'TIME_B_S':TIME_B_S,
        'R_AB_1_n':R_AB_1_n,
        'R_AB_3_n':R_AB_3_n,
        'NA_KB':NA_KB,
        'NOT_NA_KB':NOT_NA_KB,
        'NITR_S':NITR_S,
        'NA_R_1_n':NA_R_1_n,
        'GEPAR_S_n':GEPAR_S_n,
        'RAZRIV':RAZRIV,
        'DRESSLER':DRESSLER,
        'ZSN':ZSN,
        'REC_IM':REC_IM,
       }

In [32]:
features = pd.DataFrame(data,index = [0])
features 
df = ('user_input_features')
st.subheader('User Input parameters')
st.write(df)

In [33]:
df = pd.read_csv("C:\\Users\\Tannu\\OneDrive\\Desktop\\excelr project\\Myocardial infarction complications.csv")
df

,ID,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,IBS_NASL,GB,SIM_GIPERT,...,JELUD_TAH,FIBR_JELUD,A_V_BLOK,OTEK_LANC,RAZRIV,DRESSLER,ZSN,REC_IM,P_IM_STEN,LET_IS
0,1,77.0,1,2.0,1.0,1.0,2.0,NaN,3.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2,55.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,3,52.0,1,0.0,0.0,0.0,2.0,NaN,2.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,4,68.0,0,0.0,0.0,0.0,2.0,NaN,2.0,0.0,...,0,0,0,0,0,0,1,0,0,0
4,5,60.0,1,0.0,0.0,0.0,2.0,NaN,3.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695,1696,77.0,0,0.0,4.0,2.0,1.0,NaN,2.0,0.0,...,0,0,1,0,1,0,0,0,0,3
1696,1697,70.0,0,0.0,6.0,2.0,1.0,NaN,2.0,0.0,...,0,0,0,0,0,0,0,0,0,1
1697,1698,55.0,1,3.0,6.0,2.0,2.0,NaN,0.0,0.0,...,0,0,0,0,0,0,0,1,0,6
1698,1699,79.0,0,2.0,2.0,2.0,1.0,NaN,2.0,0.0,...,0,0,0,1,0,0,0,0,0,1
1699,1700,63.0,1,2.0,NaN,NaN,NaN,NaN,2.0,0.0,...,0,0,0,0,0,0,0,0,0,1

In [34]:
df.isnull().sum().sum()

15974

In [35]:
std=df.std()
std

ID           490.892045
AGE           11.259936
SEX            0.483883
INF_ANAM       0.836801
STENOK_AN      2.440586
                ...
DRESSLER       0.205417
ZSN            0.422084
REC_IM         0.291259
P_IM_STEN      0.282004
LET_IS         1.381818
Length: 124, dtype: float64

In [36]:
df1 = df.fillna(std)
df1

,ID,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,IBS_NASL,GB,SIM_GIPERT,...,JELUD_TAH,FIBR_JELUD,A_V_BLOK,OTEK_LANC,RAZRIV,DRESSLER,ZSN,REC_IM,P_IM_STEN,LET_IS
0,1,77.0,1,2.0,1.000000,1.000000,2.0000,0.48752,3.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2,55.0,1,1.0,0.000000,0.000000,0.0000,0.00000,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,3,52.0,1,0.0,0.000000,0.000000,2.0000,0.48752,2.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,4,68.0,0,0.0,0.000000,0.000000,2.0000,0.48752,2.0,0.0,...,0,0,0,0,0,0,1,0,0,0
4,5,60.0,1,0.0,0.000000,0.000000,2.0000,0.48752,3.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695,1696,77.0,0,0.0,4.000000,2.000000,1.0000,0.48752,2.0,0.0,...,0,0,1,0,1,0,0,0,0,3
1696,1697,70.0,0,0.0,6.000000,2.000000,1.0000,0.48752,2.0,0.0,...,0,0,0,0,0,0,0,0,0,1
1697,1698,55.0,1,3.0,6.000000,2.000000,2.0000,0.48752,0.0,0.0,...,0,0,0,0,0,0,0,1,0,6
1698,1699,79.0,0,2.0,2.000000,2.000000,1.0000,0.48752,2.0,0.0,...,0,0,0,1,0,0,0,0,0,1
1699,1700,63.0,1,2.0,2.440586,1.040814,0.8014,0.48752,2.0,0.0,...,0,0,0,0,0,0,0,0,0,1

In [37]:
df1.drop('ID', axis=1, inplace=True)

In [38]:
df1.columns

Index(['AGE', 'SEX', 'INF_ANAM', 'STENOK_AN', 'FK_STENOK', 'IBS_POST',
       'IBS_NASL', 'GB', 'SIM_GIPERT', 'DLIT_AG',
       ...
       'JELUD_TAH', 'FIBR_JELUD', 'A_V_BLOK', 'OTEK_LANC', 'RAZRIV',
       'DRESSLER', 'ZSN', 'REC_IM', 'P_IM_STEN', 'LET_IS'],
      dtype='object', length=123)

In [39]:
x=df1.iloc[:,0:122]
x
y=df1['LET_IS']

In [40]:
from sklearn.preprocessing import scale
# Normalizing the numerical data 
df2 = scale(df1)
df2

array([[ 1.30882812,  0.77216846,  1.72853164, ..., -0.32121605,
        -0.30880548, -0.34534162],
       [-0.56322024,  0.77216846,  0.53190328, ..., -0.32121605,
        -0.30880548, -0.34534162],
       [-0.81849956,  0.77216846, -0.66472509, ..., -0.32121605,
        -0.30880548, -0.34534162],
       ...,
       [-0.56322024,  0.77216846,  2.92516   , ...,  3.11316943,
        -0.30880548,  3.99804251],
       [ 1.47901433, -1.29505419,  1.72853164, ..., -0.32121605,
        -0.30880548,  0.37855573],
       [ 0.11752462,  0.77216846,  1.72853164, ..., -0.32121605,
        -0.30880548,  0.37855573]])

In [41]:
# Feature Importance with Decision Trees Classifier
from sklearn.tree import  DecisionTreeClassifier
# feature extraction
model = DecisionTreeClassifier()
model.fit(x, y)
print(model.feature_importances_)

[2.50701541e-02 5.79980285e-03 7.82242317e-04 6.82329747e-03
 2.12842366e-04 8.86348097e-03 0.00000000e+00 0.00000000e+00
 5.21678163e-03 8.01737452e-03 4.90073444e-02 0.00000000e+00
 0.00000000e+00 0.00000000e+00 1.87219763e-03 2.72931899e-03
 3.87204901e-03 0.00000000e+00 0.00000000e+00 3.75281361e-03
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 3.75163997e-03 6.99255006e-03 3.44314088e-03
 2.04698924e-03 4.27118861e-03 6.17235313e-03 0.00000000e+00
 0.00000000e+00 3.84953219e-03 1.50093799e-03 8.80471216e-03
 1.31466320e-02 2.04698924e-03 3.62418753e-03 0.00000000e+00
 1.29379251e-03 0.00000000e+00 3.28493035e-03 1.49875930e-02
 1.17542671e-02 8.40062876e-03 3.40674832e-03 5.33021457e-03
 0.00000000e+00 3.41164873e-03 2.72931899e-03 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 1.03408571e-02 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 1.89750610e-03 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 5.03312631e-03 4.01816406e-03 0.00000000e+00
 3.47959053e-03 1.28692863e-03 0.00000000e+00 3.95751253e-03
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 2.04698924e-03 1.54565485e-02 0.00000000e+00
 1.42088208e-02 9.52603218e-03 1.06343806e-02 0.00000000e+00
 4.15177706e-02 3.18508937e-02 2.72931899e-03 0.00000000e+00
 3.85158442e-03 4.01785853e-03 1.52018194e-02 1.09855089e-02
 6.48213259e-03 8.71398776e-03 7.20473260e-03 1.03974057e-02
 2.85622603e-01 0.00000000e+00 3.87850593e-03 6.73752307e-03
 0.00000000e+00 2.11032975e-03 4.38640551e-03 4.77630823e-03
 0.00000000e+00 1.24081667e-02 0.00000000e+00 0.00000000e+00
 0.00000000e+00 1.91114078e-03 1.00926421e-02 5.18673213e-03
 1.75843851e-02 1.75823180e-01 0.00000000e+00 0.00000000e+00
 8.37291235e-03 0.00000000e+00]

In [42]:
df3=pd.DataFrame(df2)
df3

,0,1,2,3,4,5,6,7,8,9,...,113,114,115,116,117,118,119,120,121,122
0,1.308828,0.772168,1.728532,-0.560346,-0.194631,1.074108,0.046641,1.481232,-0.190696,1.290159,...,-0.159159,-0.20877,-0.186260,-0.321216,-0.181126,-0.214834,-0.549258,-0.321216,-0.308805,-0.345342
1,-0.563220,0.772168,0.531903,-0.983587,-1.176511,-1.452980,-4.724726,-1.281654,-0.190696,-1.153971,...,-0.159159,-0.20877,-0.186260,-0.321216,-0.181126,-0.214834,-0.549258,-0.321216,-0.308805,-0.345342
2,-0.818500,0.772168,-0.664725,-0.983587,-1.176511,1.074108,0.046641,0.560270,-0.190696,-0.455648,...,-0.159159,-0.20877,-0.186260,-0.321216,-0.181126,-0.214834,-0.549258,-0.321216,-0.308805,-0.345342
3,0.542990,-1.295054,-0.664725,-0.983587,-1.176511,1.074108,0.046641,0.560270,-0.190696,-0.106487,...,-0.159159,-0.20877,-0.186260,-0.321216,-0.181126,-0.214834,1.820637,-0.321216,-0.308805,-0.345342
4,-0.137755,0.772168,-0.664725,-0.983587,-1.176511,1.074108,0.046641,1.481232,-0.190696,1.290159,...,-0.159159,-0.20877,-0.186260,-0.321216,-0.181126,-0.214834,-0.549258,-0.321216,-0.308805,-0.345342
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695,1.308828,-1.295054,-0.664725,0.709375,0.787249,-0.189436,0.046641,0.560270,-0.190696,1.290159,...,-0.159159,-0.20877,5.368851,-0.321216,5.521004,-0.214834,-0.549258,-0.321216,-0.308805,1.826350
1696,0.713176,-1.295054,-0.664725,1.555856,0.787249,-0.189436,0.046641,0.560270,-0.190696,1.290159,...,-0.159159,-0.20877,-0.186260,-0.321216,-0.181126,-0.214834,-0.549258,-0.321216,-0.308805,0.378556
1697,-0.563220,0.772168,2.925160,1.555856,0.787249,1.074108,0.046641,-1.281654,-0.190696,-1.153971,...,-0.159159,-0.20877,-0.186260,-0.321216,-0.181126,-0.214834,-0.549258,3.113169,-0.308805,3.998043
1698,1.479014,-1.295054,1.728532,-0.137106,0.787249,-0.189436,0.046641,0.560270,-0.190696,1.290159,...,-0.159159,-0.20877,-0.186260,3.113169,-0.181126,-0.214834,-0.549258,-0.321216,-0.308805,0.378556
1699,0.117525,0.772168,1.728532,0.049368,-0.154557,-0.440376,0.046641,0.560270,-0.190696,-0.072044,...,-0.159159,-0.20877,-0.186260,-0.321216,-0.181126,-0.214834,-0.549258,-0.321216,-0.308805,0.378556

In [43]:
DTreeclassifier_data = pd.DataFrame(model.feature_importances_ , columns=["Score"])
dfcolumns_dtc=pd.DataFrame(df.columns)
dtc_features_rank=pd.concat([dfcolumns_dtc,DTreeclassifier_data],axis=1)
dtc_features_rank.columns=['DTC Features','Score']
dtc_features_rank

    DTC Features     Score
0             ID  0.025070
1            AGE  0.005800
2            SEX  0.000782
3       INF_ANAM  0.006823
4      STENOK_AN  0.000213
..           ...       ...
119     DRESSLER  0.000000
120          ZSN  0.008373
121       REC_IM  0.000000
122    P_IM_STEN       NaN
123       LET_IS       NaN

[124 rows x 2 columns]

In [44]:
dtc_features_rank['DTC Features'][dtc_features_rank['Score'] > 0.008197]

0                ID
5         FK_STENOK
10          DLIT_AG
35       D_AD_KBRIG
36        S_AD_ORIT
43       FIB_G_POST
44           ant_im
45           lat_im
58     n_r_ecg_p_04
82           GIPO_K
84         GIPER_NA
85         NA_BLOOD
86        ALT_BLOOD
88        KFK_BLOOD
89          L_BLOOD
94         R_AB_3_n
95            NA_KB
97           LID_KB
99         NA_R_1_n
100        NA_R_2_n
109         ASP_S_n
114       JELUD_TAH
116        A_V_BLOK
117       OTEK_LANC
120             ZSN
Name: DTC Features, dtype: object

In [45]:
DC_Data = df1[['AGE' ,'STENOK_AN' , 'FK_STENOK' ,'IBS_POST' ,'ZSN_A', 'nr_04' , 'S_AD_KBRIG' , 'D_AD_KBRIG',
'S_AD_ORIT' , 'D_AD_ORIT' , 'K_SH_POST' ,'ant_im' , 'lat_im' , 'ritm_ecg_p_07' , 'n_r_ecg_p_04' , 'n_p_ecg_p_10' , 
'n_p_ecg_p_12' ,'K_BLOOD' ,'NA_BLOOD' ,'ALT_BLOOD','AST_BLOOD' ,'L_BLOOD' , 'ROE' , 'TIME_B_S' , 'R_AB_1_n' , 'R_AB_3_n' 
,'NA_KB','NOT_NA_KB', 'NITR_S' , 'NA_R_1_n' , 'GEPAR_S_n' ,'RAZRIV' ,'DRESSLER' ,'ZSN','REC_IM','LET_IS']]
DC_Data

,AGE,STENOK_AN,FK_STENOK,IBS_POST,ZSN_A,nr_04,S_AD_KBRIG,D_AD_KBRIG,S_AD_ORIT,D_AD_ORIT,...,NA_KB,NOT_NA_KB,NITR_S,NA_R_1_n,GEPAR_S_n,RAZRIV,DRESSLER,ZSN,REC_IM,LET_IS
0,77.0,1.000000,1.000000,2.0000,0.000000,0.0,34.997835,19.745045,180.0,100.0,...,0.491601,0.462176,0.0,0.0,1.0,0,0,0,0,0
1,55.0,0.000000,0.000000,0.0000,0.000000,0.0,34.997835,19.745045,120.0,90.0,...,1.000000,0.000000,0.0,0.0,1.0,0,0,0,0,0
2,52.0,0.000000,0.000000,2.0000,0.000000,0.0,150.000000,100.000000,180.0,100.0,...,1.000000,1.000000,0.0,1.0,1.0,0,0,0,0,0
3,68.0,0.000000,0.000000,2.0000,1.000000,0.0,34.997835,19.745045,120.0,70.0,...,0.491601,0.462176,0.0,0.0,1.0,0,0,1,0,0
4,60.0,0.000000,0.000000,2.0000,0.000000,0.0,190.000000,100.000000,160.0,90.0,...,0.000000,0.000000,0.0,0.0,0.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695,77.0,4.000000,2.000000,1.0000,0.000000,0.0,34.997835,19.745045,110.0,70.0,...,1.000000,1.000000,0.0,0.0,0.0,1,0,0,0,3
1696,70.0,6.000000,2.000000,1.0000,0.000000,0.0,34.997835,19.745045,50.0,0.0,...,1.000000,0.462176,0.0,0.0,0.0,0,0,0,0,1
1697,55.0,6.000000,2.000000,2.0000,0.000000,0.0,34.997835,19.745045,70.0,50.0,...,0.491601,0.462176,1.0,2.0,1.0,0,0,0,1,6
1698,79.0,2.000000,2.000000,1.0000,0.658722,1.0,34.997835,19.745045,110.0,70.0,...,1.000000,0.000000,1.0,2.0,1.0,0,0,0,0,1
1699,63.0,2.440586,1.040814,0.8014,4.000000,0.0,34.997835,19.745045,0.0,0.0,...,0.491601,0.462176,1.0,0.0,0.0,0,0,0,0,1

In [46]:
from sklearn.model_selection  import  train_test_split
x_train , x_test , y_train , y_test = train_test_split(x , y , test_size = 0.25, random_state = 0)

In [47]:
import imblearn
from imblearn.over_sampling import SMOTE
X_train, X_test, Y_train, Y_test = train_test_split(x, y, random_state=100, test_size=0.3)
oversample = SMOTE()
X_train, Y_train = oversample.fit_resample(X_train, Y_train)
from collections import Counter
counter = Counter(Y_train)
print(counter)

Counter({0: 1001, 3: 1001, 1: 1001, 6: 1001, 4: 1001, 7: 1001, 5: 1001, 2: 1001})

In [48]:
from sklearn.decomposition import PCA
X_train, X_test, Y_train, Y_test = train_test_split(x, y, random_state=100, test_size=0.3)
oversample = SMOTE()
X_train, Y_train = oversample.fit_resample(X_train, Y_train)
pca = PCA(n_components=5)
pca.fit(X_train)
X_train_pca = pca.transform(X_train)
pca.fit(X_test)
X_test_pca = pca.transform(X_test)
pcaxtrain=pd.DataFrame(X_train_pca)
pcaxtest=pd.DataFrame(X_test_pca)

In [49]:
# Bagged Decision Trees for Classification
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
cart = DecisionTreeClassifier()
model_bc = BaggingClassifier(base_estimator=cart,n_estimators=10,random_state=8)
results_bc = cross_val_score(model_bc, x_train, y_train, cv=10)
print(results_bc.mean())

0.91451156496063

In [50]:
model_bc.fit(x_train , y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(), random_state=8)

In [51]:
y_pred_bc = model_bc.predict(x_test)
y_pred_bc_train = model_bc.predict(x_train)
y_pred_bc

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 3, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 3, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 7, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 1, 0, 0, 0, 0, 0, 3, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 1, 0, 0, 6, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 4, 0, 0, 0], dtype=int64)

In [52]:
print(accuracy_score(y_test , y_pred_bc))
print(accuracy_score(y_train , y_pred_bc_train))

0.9129411764705883
0.9850980392156863

In [57]:
y_pred_bc = model_bc.predict(x)
prediction_proba = model_bc.predict_proba(x)

st.subheader('Predicted Result')
st.write('Yes' if prediction_proba[0][1] > 0.2 else 'No')

st.subheader('Prediction Probability')
st.write(prediction_proba)